@page
@model HotelBooking.Pages.TiposHabitacion.IndexModel
@{
    ViewData["Title"] = "Tipos de Habitación";
}

<h1>Tipos de Habitación</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Descripción</th>
            <th>Capacidad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TiposHabitacion)
        {
            <tr>
                <td>@item.Descripcion</td>
                <td>@item.Capacidad</td>
                <td>
                    <a asp-page="Details" asp-route-id="@item.IdTipo" class="btn btn-success">Details</a>
                    <a asp-page="Edit" asp-route-id="@item.IdTipo" class="btn btn-warning">Edit</a>
                    <a asp-page="Delete" asp-route-id="@item.IdTipo" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>