@page
@model HotelBooking.Pages.Clientes.DetailsModel

<h1>Detalles Del Cliente</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Telefono)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cliente.IdCliente" class="btn btn-warning">Editar</a> |
    <a asp-page="./Index" class="btn btn-primary">Volver a la Lista</a>
</div>
