@page
@model HotelBooking.Pages.Clientes.IndexModel

<h1>Clientes</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Telefono</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cliente)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.Email</td>
                <td>@item.Telefono</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.IdCliente">Edit</a> |
                    <a asp-page="Details" asp-route-id="@item.IdCliente">Details</a> |
                    <a asp-page="Delete" asp-route-id="@item.IdCliente">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>