@page
@model HotelBooking.Pages.Habitaciones.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Está seguro?</h3>
<div>
    <h4>Habitación</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Habitacion.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Habitacion.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Habitacion.Piso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Habitacion.Piso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Habitacion.IdTipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Habitacion.IdTipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Habitacion.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Habitacion.Precio)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Habitacion.IdHabitacion" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Regresar</a>
    </form>
</div>