@page
@model HotelBooking.Pages.Reservaciones.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Está Seguro?</h3>
<div>
    <h4>Reservación</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Id Cliente
        </dt>
        <dd class="col-sm-10">
            @Model.Reservacion.Cliente.Nombre @Model.Reservacion.Cliente.Apellido
        </dd>
        <dt class="col-sm-2">
            Id Habitacion
        </dt>
        <dd class="col-sm-10">
            @Model.Reservacion.Habitacion.Numero
        </dd>
        <dt class="col-sm-2">
            Fecha Entrada
        </dt>
        <dd class="col-sm-10">
            @Model.Reservacion.FechaEntrada.ToString("d")
        </dd>
        <dt class="col-sm-2">
            Fecha Salida
        </dt>
        <dd class="col-sm-10">
            @Model.Reservacion.FechaSalida.ToString("d")
        </dd>
        <dt class="col-sm-2">
            Total Pago
        </dt>
        <dd class="col-sm-10">
            @Model.Reservacion.TotalPago.ToString("C")
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Reservacion.IdReservacion" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Regresar</a>
    </form>
</div>